##### Assigment 2

### srting based practice problems :

In [1]:
#Qustion Number 1 :
a = input("write a letter")
a[ : :-1]                                     #using index slicing to reverse a string

write a letter jhgjhv

'vhjghj'

In [2]:
#Question number 2 :
b = input("write a letter")
if b==b[ : :-1]:                             #using index slicing to check a string is palindrome 
   print ("its palindrome")
else:
   print("its not palindrome")

write a letter jhygh

its not palindrome

In [3]:
#Question Number 3 :
s1 = input("enter your word or sentence")
s1.upper()                                   #using upper() function to convert a string to uppercase

enter your word or sentence nmvgnvb'

"NMVGNVB'"

In [4]:
#Question Number 4 :
s2 = input("enter your word or sentence")
s2.lower()                                   #using lower() function to convert a string to lowercase

enter your word or sentence hgfhgc

'hgfhgc'

In [10]:
#Question Number 5 :
x = input("Enter your sentence and i will return number of vowels present in it ")
a=x.count('a')                                 #using count() function to count number of vowels present in string 
e=x.count('e')
i=x.count('i')
o=x.count('o')
u=x.count('u')
print(a,e,i,o,u)

Enter your sentence and i will return number of vowels present in it  santosh is here

1 2 1 1 0

In [10]:
# Question Number 6:
def count_constant(input_string):
    constant = 'bcdfghjklmnpqrstvwxyz'
    count = sum([1 for i in input_string if i in constant]) #using list comprehension to count number of constant present in string
    return count

print(count_constant('hey my name is priyanka'))

12

In [8]:
#Question Number 7 :
x1 = input("enter a string")
x1.replace(' ','')                         #use replace method to remove all whitepace from a string

enter a string hey i am priyanka

'heyiampriyanka'

In [12]:
# Question Number 8:
s = ('hey i am priyanka')
length = 0
for i in s:                                #use 'for' loop to find length of the string without using 'len()' function      
    length+=1

print(length)

17

In [9]:
#Question Number 9 :
x2 = input("enter your string")
if x2.find("my"):                         #use 'find()' method to check strings contains a specific word
   print('this string contains a spcific word')
else:
   print('this string does not contain a specific word')

enter your string hey my name is priyanka

this string contains a spcific word

In [10]:
#Question Number 10 :
x3 = "where are you from"
x3.replace('are','were')                  #use 'replace()' method to replace word in a string to another word.

'where were you from'

In [15]:
#Question Number 11 :
p = input("enter your string and substring'comma seprated").split(' ')     #use 'split()' method to convert string into list
print(p.count("hey"))                                                      #use 'count()' method to find occurence of word in string

enter your string and substring'comma seprated hey i am priyanka and i am 17 year old

1

In [15]:
#Question Numbr 12 :
x4 = input("enter your string and substring 'comma seprated'").split(',')
string,sub=x4
string.find(sub)                                                      #use 'find()' method to find first occurence of a word in a string.

enter your string and substring 'comma seprated' hey where are you going ,are

10

In [16]:
#Question Number 13 :
x5 = input("enter your string and substring 'comma seperated' : ").split(',')
strinG,sub=x5     
strinG.rfind(sub)                                                    #use 'rfind()' method to find last occurrence of a word in a string.

enter your string and substring 'comma seperated' :  hey i am priyanka and i am live in Delhi ,am

24

In [17]:
#Question Number 14 :
Q = input("enter your string")
Q.split()                                                            #use 'split()' method to split string into a list of words.

enter your string hey what is your name

['hey', 'what', 'is', 'your', 'name']

In [17]:
# Question Number 15:
l = ['hey','i','am','a','girl']
' '.join(l)                                                          #use 'join()' method to join a list of words into a string.

'hey i am a girl'

In [18]:
#Question Number 16 :
R = input("enter your string")
R.replace(' ','_')                                 #use 'replace()' method to convert string space' ' seprated to underscore'_' seprated.

enter your string hey what is your age

'hey_what_is_your_age'

In [23]:
#Question Number 17 :
s = "hey where are you going".split()
if s[0]=="hey":                                   #use index slicing to check string start with specific word or not.
    print(True)
else:
    print(False)

True

In [25]:
#Question Number 18 :
s2 = 'hey bro i am priyanka'.split()
if s2[-1]=='priyanka':                            #use index slicing to check string end with specific word or not.
    print(True)
else:
    print(False)

True

In [21]:
#Question Number 19 :
s1 = input("enter your string")
s1.title()                                       #use'title()' method to conert string to title case.

enter your string hey bro what are you doing

'Hey Bro What Are You Doing'

In [30]:
# Question Number 20:
def longest_word(string):
    word = string.split()
    return max(word,key=len)                     #using 'key=len' for comparison the length of words in a string.  

print(longest_word('hey where are you live'))

where

In [31]:
# Question Number 21:
def shortest_word(string):
    word = string.split()
    return min(word,key=len)                   #using 'min()' method to find shortest word in a string.

print(shortest_word('hey i am a good girl'))

i

In [22]:
#Question Number 22 :
s3 = input("enter your string")
t=s3.split()
L=[]
for i in t:
    L.append(i[::-1])                         #use index slicing to reverse the order of words in a string.      
print(" ".join(L))

enter your string hey what are you doing

yeh tahw era uoy gniod

In [23]:
# Question Number 23 :
s='priyanka123'
s.isalnum()                                   #use 'isalnum()' method to check the string is alphanumeric.

True

In [32]:
#alternative of Q23
def Isalnum(S):
    Ls="qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM"
    Ln="1234567890"
    Temp=[]
    for i in S:
        if i in Ls or i in Ln:
            Temp.append(True)
        elif i==" ":
            Temp.append(True)
        else:
            Temp.append(False)
    return all(Temp)

print(Isalnum("santosh 123"))

True

In [24]:
#Question Number 24 : 
s="santsh23335 soni"
r = "123456789"
Temp=[]
for i in s:
    if i in r:
        Temp.append(i)
    else:
        continue 

"".join(Temp)

'23335'

In [25]:
# Question Number 25 :
P = "sdfghjkzxcvbnm123456zxcnm7890@#%$^&*"
s = "qwrtyuiopasdghjklzxcvbnm"
L = []
for i in P:
    if i in s:
        L.append(i)
    else:
        continue 

"".join(L)

'sdghjkzxcvbnmzxcnm'

In [26]:
# Question Number 26 :
d = "ABCdgdRTBJGGHB"
count=0
for i in d:
    if i.upper()==i:                   #use 'upper()' method to check capital letter in a given string.
        count+=1
    else:
        continue
print(count)

11

In [27]:
# Question Number 27 :
k = "RYdbifcDYUJhvvbbnnmgjddcKHGgF"
count = 0
for i in k:
    if i.lower()==i:                  #use 'lower()' method to check lower letter in a given string.
        count+=1
    else:
        continue 

print(count)

19

In [28]:
# Question Number 28 :
A = "HEy MY nAme is PRIynKA"
A.swapcase()

'heY my NaME IS priYNka'

In [29]:
# Question Number 29 :
S = "where are you going bro"
d = S.split(" ")
d.remove("you")
print(d)

['where', 'are', 'going', 'bro']

In [30]:
# Question Number 30 :
P = "heymynameis123priyanka@gmail.com"
A = ['@','gmail','.','com']
temp=[]
for i in A:
    if i in P:
        temp.append(True)   
    else:
        temp.append(False)

print("Valid Email") if all(temp) else "Not Valid Email"

Valid Email

In [31]:
# Question Number 31 : 
A = "Iamgood1234bhdjjjk@gmail.com"
A.split('@')[0]

'Iamgood1234bhdjjjk'

In [7]:
# Question Number 32 :
s = "Heyiampriyanka387dsjb@gmail.com"
s.split('@')[1]

'gmail.com'

In [6]:
# Question Number 33 :
A = "Delta notebook      its very   good and  its page is    very smooth"
B=A.split()
" ".join(B)

'Delta notebook its very good and its page is very smooth'

In [6]:
# Question Number 34 :
A = "https://www.quora12345.com"
B = "https://"

if B in A:
    print(True)
else:
    print(False)

True

In [16]:
# Question Number 35 :
A = "https://www.quora12345.com"
A.split(':')[0]

'https'

In [28]:
# Question Number 36 :
A = "I am live in Delhi and today whether is good"
eunique_chars={i for i in A if i!=" "}
D ={}
for i in unique_chars:
    D.update({i:A.count(i)})

D

{'e': 4,
 'h': 3,
 't': 2,
 'v': 1,
 'l': 2,
 'a': 3,
 'D': 1,
 'w': 1,
 'r': 1,
 'n': 2,
 'o': 3,
 's': 1,
 'y': 1,
 'd': 3,
 'g': 1,
 'I': 1,
 'i': 4,
 'm': 1}

In [33]:
# Question Number 37:
chars="1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM"
a= '@qwe,RTY.1234:f78;'
main=""
for i in a:
    if i in chars:
        main+=i

print(main)

qweRTY1234f78

In [22]:
# Question Number : 38
a = "priyanka15678"
a.isdigit()

False

In [23]:
# Question Number 39 :
d = "heyiampriyanka"
d.isalpha()

True

In [25]:
# Question Number 40:
a = "heyiamliveindelhi"
list(a)

['h',
 'e',
 'y',
 'i',
 'a',
 'm',
 'l',
 'i',
 'v',
 'e',
 'i',
 'n',
 'd',
 'e',
 'l',
 'h',
 'i']

In [32]:
# Question Number 41:
a = "listen"
b = "silent"
if sorted(list(a))==sorted(list(b)):
    print("its anagrams")
else:
    print("its not anagrams")

its anagrams

In [1]:
# Question Number 42:
A=sorted(list("QWERTYUIOPASDFGHJKLZXCVBNM"))
def Caesar_cipher_encoding(s,shift=2):
    main=[]
    for i in s.upper():
        if i==" ":
            main.append(" ")
            continue
        else:
            main.append(A[A.index(i)+shift])
    return "".join(main)
print(Caesar_cipher_encoding("abc"))

CDE

In [5]:
# Question Number 45:
a = "hey i am here and i am good"
b = a.split(' ')
unique_words = set(b)
print(unique_words)

{'and', 'good', 'hey', 'i', 'am', 'here'}

In [8]:
# Question number 47:
def check_special_character(s):
    special_character = "!@#$%^&*()_-+=[]{};:.,></?"
    for i in s:
        if i in special_character:
            return True
    return False

print(check_special_character('Hey , i am Priyanka!'))

True

In [6]:
# Question Number 48:
def remove_nth_word(text,n):
    words = text.split()
    if 1<=n<+len(words):
        del words[n-1]
        result = ' '.join(words)
        return result
    else:
        return 'invalid index for removal'

print(remove_nth_word('hey what is your name',4))

hey what is name

In [19]:
# Question Number 49:
def insert_nth(string,word_insert,n):
    words = string.split()
    words.insert(n,word_insert)
    return " ".join(words)
    
print(insert_nth("hey what you doing",'are',2))

hey what are you doing

In [38]:
# Question Number 50:
def csv_string(s):
    lists = s.split('.')
    csv_list = [list.split(',') for list in lists]
    return csv_list

print(csv_string('hey,i,am,here.where,are,you.i,am,waiting.come,fast'))

[['hey', 'i', 'am', 'here'], ['where', 'are', 'you'], ['i', 'am', 'waiting'], ['come', 'fast']]

### list based practise problems :

In [55]:
#Question Number 1:
l = list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
#Question Number 2:
a = [1,2,3,4,5,6]
length = 0
for i in a:
    length+=1

print("length of the list is :", length)

length of the list is : 6

In [3]:
# Question Number 3 :
a = [5,8,2,5,4,9]
a.append(1)
print(a)

[5, 8, 2, 5, 4, 9, 1]

In [6]:
# Question Number 4 :
s = [45,76,3,5,2,1,0]
s.insert(2,3)
print(s)

[45, 76, 3, 3, 5, 2, 1, 0]

In [9]:
# Question Number 5 :
s = [4,7,0,223,67,1,4]
s.remove(223)
print(s)

[4, 7, 0, 67, 1, 4]

In [10]:
# Question Number 6 :
a = [2,5,12,6,83,5,0]
a.pop(4)
print(a)

[2, 5, 12, 6, 5, 0]

In [11]:
# Question Number 7 :
a = [1,2,3,4,5,6]
check_the_element = 5
if check_the_element in a:
    print("yes , its present in a ")
else:
    print("no , its not present in a ")

yes , its present in a

In [14]:
# Question Number 8 :
a = [1,6,56,83,45,56677,2,1]
a.index(1)

0

In [15]:
# Question Number 9:
a = [2,6,8,45,8,1,2,3,4,6,8,2,8]
a.count(8)

4

In [17]:
# Question Number 10:
a = [2,4,7,9456,12,78]
a.reverse()
print(a)

[78, 12, 9456, 7, 4, 2]

In [18]:
# Question Number 11:
a = [1,45,8,3,67,3,5]
a.sort()
print(a)

[1, 3, 3, 5, 8, 45, 67]

In [22]:
# Question Number 12:
a = [2,4,8,4,2,5]
sorted_in_descending = sorted(a,reverse=True)
print(a)

[2, 4, 8, 4, 2, 5]

In [25]:
# Question Number 13 :
even_numbers = []
for i in range(2,21,2):
    even_numbers.append(i)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
# Question Number 14 :
odd_numbers = []
for i in range(1,21,2):
    odd_numbers.append(i)

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
# Question Number 15 :
a = [2,5,87,1,3,6]
sum_of_list = sum(a)
print(sum_of_list)

104

In [29]:
# Question number 16:
a = [2,6,8,4,6,76,23,56]
maximum_number = max(a)
print(maximum_number)

76

In [30]:
# Question Number 17 :
a = [2,1,5,7,9,3]
minimum_number = min(a)
print(minimum_number)

1

In [34]:
# Question Number 18:
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Question Number 19:
import random
random_numbers = [random.randint(1,100) for i in range(10)]
print(random_numbers)

[82, 48, 66, 19, 31, 51, 63, 60, 52, 27]

In [40]:
# Question Number 20 :
a = [2,3,5,9,1,2,6,8,3]
s = list(set(a))
print(s)

[1, 2, 3, 5, 6, 8, 9]

In [47]:
# Question Number 21:
a=[1,3,6,4,9,2,1,5]
b=[5,1,3,9,6,0,2,2]
common_element = list(set(a) & set(b))
print(common_element)

[1, 2, 3, 5, 6, 9]

In [49]:
# Question Number 22 :
a=[1,6,4,8,9,3,5]
b=[3,6,1,8,4,0,9]
difference = list(set(a) - set(b))
print(difference)

[5]

In [50]:
# Question number 23:
a=[1,2,6,9,4,5]
b=[2,1,5,7,4,3]
merge_two_lists = a+b
print(merge_two_lists)

[1, 2, 6, 9, 4, 5, 2, 1, 5, 7, 4, 3]

In [53]:
# Question Number 24 :
a=[1,4,6,2,3,8,9]
b=[i**2 for i in a]
print(b)

[1, 16, 36, 4, 9, 64, 81]

In [54]:
# Question Number 25:
a=[2,6,1,15,7,8,3]
b=[i for i in a if i%2==0]
print(b)

[2, 6, 8]

In [3]:
# Question Number 26:
a = ["1","2","3","4","5"]
convert_list = [int(num) for num in a]
print(convert_list)

[1, 2, 3, 4, 5]

In [4]:
# Question Number 27:
a = [1,2,3,4,5]
converted_string = [str(num) for num in a]
print(converted_string)

['1', '2', '3', '4', '5']

In [10]:
# Question Number 28:
a = [[1,2],[3,4],[5,6],[7,8],[9,0]]
flattened_list = [item for i in a for item in i]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [16]:
# Question Number 29:
fibonacci_numbers = [0,1]
for i in range(11):
    fibonacci_numbers.append(fibonacci_numbers[-1]+fibonacci_numbers[-2])

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [25]:
# Questio Numbers 30 :
a = [1,2,3,4,5,6]
if a==sorted(a):
    print("yes , its sorted")
else:
    print("no , its not sorted")

yes , its sorted

In [9]:
# Question Number 31:
def rotate_list(lst,n):
    return lst[n:]+lst[:n]


print(rotate_list([1,2,3,4,5,6],2))

[3, 4, 5, 6, 1, 2]

In [18]:
# Question Number 32:
def rotate_list(lst,n):
    return lst[-n:]+lst[:len(lst)-n]

print(rotate_list([1,2,3,4,5,6],2))

[5, 6, 1, 2, 3, 4]

In [13]:
# Question Number 33:
prime_num = []
for num in range(2,51):
    is_prime = True
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            is_prime = False
    if is_prime:
        prime_num.append(num)

print(prime_num)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [26]:
# Question Number 34:
def split_list(lst,n):
    return [lst[i:i+n] for i in range(0,len(lst),n)]

print(split_list([1,2,3,4,5,6,7,8,9],3))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
# Question Number 35:
def second_largest(n):
    unique_num = list(set(n))
    if len(unique_num)<2:
        return "list does not have a second largest element"
    else:
        unique_num.sort()
        return unique_num[-2]

print(second_largest([4,8,23,7,95,3,9,47]))

47

In [1]:
# Question Number 36:
a = [1,2,3,4,5,6,7]
b = [x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36, 49]

In [29]:
# Question Number 37:
list = ['apple','mango','grapes','banana']
dict = {element:index for index,element in enumerate(list)}
print(dict)

{'apple': 0, 'mango': 1, 'grapes': 2, 'banana': 3}

In [37]:
# Question Number 38:
import random
list = [1,2,3,4,5,6,7,8,9]
random.shuffle(list)
print('shuffeled list:',list)

shuffeled list: [9, 7, 1, 6, 5, 4, 2, 8, 3]

In [40]:
# Question Number 39:
import math
factorial = [math.factorial(i) for i in range(1,11)]
print("factorial numbers:",factorial)

factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [41]:
# Question Number 40:
a = [1,2,3,4,5]
b = [3,8,9,2,7]
common_element = set(a)&set(b)
if common_element:
    print('yes,the lists have at least ane common element occur')
else:
    print('false')

yes,the lists have at least ane common element occur

In [11]:
# Question Number 41:
a = [1,2,3,4,5]
b = a.clear()
print(b)

None

In [22]:
# Question number 42:
a = [1,3,6,-4,7,-9,2]
modified_list = [max(0,num) for num in a]
print(modified_list)

[1, 3, 6, 0, 7, 0, 2]

In [23]:
# Question number 43:
s = ("hey i am priyanka and what's your name")
a = s.split()
print(a)

['hey', 'i', 'am', 'priyanka', 'and', "what's", 'your', 'name']

In [24]:
# Question Number 44:
a = ['hey','i','am','priyanka']
' '.join(a)

'hey i am priyanka'

In [43]:
# Question Number 45:
l = [2**n for n in range(1,11)]
print(l)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [45]:
# Question Number 46:
l = ['apple','mango','grapes','banana']
longest_string = max(l,key=len)
print('longest string is:',longest_string)

longest string is: grapes

In [47]:
# Question Number 47:
l = ['apple','mango','grapes','banana','red']
shortest_string = min(l,key=len)
print('shortest string is:',shortest_string)

shortest string is: red

In [1]:
# Question number 48:
def greatest_triangular_number(n):
    tri_num = []
    total = 0
    for i in range(1,n+1):
        total += i
        tri_num.append(total)    
    return tri_num

print(greatest_triangular_number(5))

[1, 3, 6, 10, 15]

In [4]:
# Question Number 49:
def is_subsequence(sub,lst):
    sub_index = 0
    for i in lst:
        if i==sub[sub_index]:
            sub_index+=1
            if sub_index==len(sub):
                return True
    return False

print(is_subsequence([2,3,4],[1,2,3,4,5,6,7,8,9,10]))

True

In [40]:
# Question Number 50:
l = [1,2,3,4,5,6,7]
index1,index2 = 2,4
l[index1],l[index2]=l[index2],l[index1]
print(l)

[1, 2, 5, 4, 3, 6, 7]

### Tuple Based Problems:

In [28]:
# Question no.1:
t = tuple(range(1,6))
t

(1, 2, 3, 4, 5)

In [30]:
# Question Number 2:
a = (1,5,7,3,5)
a[2]

7

In [37]:
# Question Number 3:
a = (1,2,3,4,5,6,7)
length = 0
for i in a:
    length+=1

print('length of the tuple is:', length)

length of the tuple is: 7

In [40]:
# Question number 4:
a = (1,2,3,4,5,1,6,7,8,9)
a.count(1)

2

In [45]:
# Question Number 5:
a = [4,2,8,6,8,3,6,8]
b = a.index(8)
print(b)

2

In [46]:
# Question Number 6:
a = [1,2,3,4,5,6]
if 4 in a:
    print('yes , its exists in tuple')
else:
    print('no , its not present in tuple')

yes , its exists in tuple

In [47]:
# Question number 7:
a = (1,2,3,4,5,6)
b = list(a)
print(b)

[1, 2, 3, 4, 5, 6]

In [48]:
# Question number 8:
a = [1,2,3,4,5]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5)

In [6]:
# Question Number 9 :
tuple_element = (1,2,3,4,5)
a,b,c,d,e = tuple_element
print(a,
      b,
      c,
      d,
      e)

1 2 3 4 5

In [8]:
# Question number 10:
b = tuple(i for i in range(1,11) if i%2==0)
print(b)

(2, 4, 6, 8, 10)

In [9]:
# Question Number 11:
a = tuple(i for i in range(1,11) if i%2!=0)
print(a)

(1, 3, 5, 7, 9)

In [10]:
# Question Number 12:
a=(1,2,3,4,5)
b=(6,7,8,9,1)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1)

In [13]:
# Question Number 13:
a = (1,2,3,4,5)
print(a*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [14]:
# Question Number 14 :
a = ()
if len(a)==0:
    print('this tuple is empty')
else:
    print('this tuple is not empty')

this tuple is empty

In [19]:
# Question Number 15 :
a = ((1,2,3),(4,5,6),('hey','bro'),('i','am'))
b = a[1]
print(b)

(4, 5, 6)

In [20]:
# Question Number 16:
a = ((1,2,3),('hey','man'))
b = a[0]
print(b)

(1, 2, 3)

In [23]:
# Question Number 17 :
a = (1)
print(a)

1

In [24]:
# Question number 18:
a = (1,2,3,4)
b = (2,1,3,6)
if a==b:
    print('this tuples is equal')
else:
    print('this tuples is not equal')

this tuples is not equal

In [27]:
# Question Number 19 :
a = (1,2,3,4,5)
del a 
print(a)

NameError: name 'a' is not defined

In [28]:
# Question number 20:
a = (1,2,3,4,5,6,7)
sliced_tuple = a[2:6]
print(sliced_tuple)

(3, 4, 5, 6)

In [29]:
# Question Number 21:
a = (1,2,3,4,6,46,85,2)
b = max(a)
print(b)

85

In [30]:
# Question number 22:
a = (4,2,65,7,2,5,66)
b = min(a)
print(b)

2

In [31]:
# Question number 23 :
a = ("hey i am priyanka")
b = tuple(a)
print(b)

('h', 'e', 'y', ' ', 'i', ' ', 'a', 'm', ' ', 'p', 'r', 'i', 'y', 'a', 'n', 'k', 'a')

In [35]:
# Question Number 24:
a = ('hey','my','name','is','priyanka')
b = " ".join(a)
print(b)

hey my name is priyanka

In [36]:
# Question Number 25:
a = (1,2.4,'hey',True)
print(a)

(1, 2.4, 'hey', True)

In [37]:
# Question Number 26:
a = (1,2,3)
b = (1,2,3)
if a==b:
    print('this tuples is identical')
else:
    print('this tuples is not identical')

this tuples is identical

In [2]:
# Question Number 27:
a = (2,6,3,8,4,1,5,6)
b = tuple(sorted(a))
print(b)

(1, 2, 3, 4, 5, 6, 6, 8)

In [46]:
# Question Number 28 :
a = (1,2,3,4,5)
b = tuple(str(i) for i in a)
print(b)

('1', '2', '3', '4', '5')

In [1]:
# Question Number 29:
a = ('1','2','3','4')
b = tuple(int(i) for i in a)
print(b)

(1, 2, 3, 4)

In [2]:
# Question Number 30:
a = (1,2,3,4,5)
b = (6,7,8,9,0)
merge_tuples = a+b
print(merge_tuples)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [3]:
# Question Number 31:
t=((1,2),(3,4))
l=[j for i in t    for j in i]
print(tuple(l))

(1, 2, 3, 4)

In [20]:
# Question Number 32:
def primeGenerator(n):
    primes = []
    i = 2
    while len(primes) < n:
        for p in primes:
            if i % p == 0:
                break
        else:
            primes.append(i)
        i += 1
    return primes

print(primeGenerator(5))

[2, 3, 5, 7, 11]

In [30]:
# Question Number 33:
t1 = (1,2,3,4,5)
t2 = (5,4,3,2,1)
if t1==t2[ : :-1]:
    print('yes , its pallindrome')
else:
    print('no , its pallindrome')

yes , its pallindrome

In [29]:
# Question Number 34 :
t = tuple(i**2 for i in range(1,6))
print(t)

(1, 4, 9, 16, 25)

In [37]:
# Question Number 35:
a = (1,2,3,4,5,6,7,8,9)
t = tuple(i for i in a if i%2==0)
print(t)

(2, 4, 6, 8)

In [49]:
# Question Number 36:
a = (1,2,3,4,5)
t = tuple(i**2 for i in a)
print(t)

(1, 4, 9, 16, 25)

In [10]:
# Question Number 37:
import random
a = tuple(random.randint(1,51) for i in range(10))
print(a)

(29, 19, 17, 42, 50, 21, 37, 36, 21, 2)

In [58]:
# Question Number 38:
a = (1,2,3,4,5)
if a==tuple(sorted(a)):
    print('yes , its sorted tuple')
else:
    print('no , its not sorted tuple')

yes , its sorted tuple

In [19]:
# Question Number 39:
def rotate_left(tuple,n):
    return tuple[n:]+tuple[:n]

print(rotate_left((1,2,3,4,5,6),2))

(3, 4, 5, 6, 1, 2)

In [25]:
# Question Number 40:
def rotate_right(tuple,n):
    return tuple[-n:]+tuple[:-n]

print(rotate_right((1,2,3,4,5,6),2))

(5, 6, 1, 2, 3, 4)

In [5]:
# Question Number 41:
def fibbonacci(n):
    fibo = [0,1]
    for i in range(2,n):
        fibo.append(fibo[-1]+fibo[-2])
    return tuple(fibo)

print(fibbonacci(5))

(0, 1, 1, 2, 3)

In [31]:
# Question Number 42 :
a = input("enter your elements comma seprated")
user_tuple = tuple(a.split(','))
print("tuple:",user_tuple)

enter your elements comma seprated 1,2,3,4

tuple: ('1', '2', '3', '4')

In [41]:
# Question Number 43:
t = (1,2,3,4,5,6,7)
index1,index2 = 2,5
t_list = list(t)
t_list[index1],t_list[index2] = t_list[index2],t_list[index1]
swap_tuple = tuple(t_list)
print(swap_tuple)

(1, 2, 6, 4, 5, 3, 7)

In [32]:
# Question Number 44:
a = (1,2,3,4,5)
print(a[ : :-1])

(5, 4, 3, 2, 1)

In [74]:
# Question Number 45:
n = 5
a = tuple(2**n for i in range(n))
print("the tuple of 'n' powers of 2 :",a)

the tuple of 'n' powers of 2 : (32, 32, 32, 32, 32)

In [12]:
# Question Number 46 :
a = ('apple','pink','red','banana')
b = max(a , key=len)
print('largest tuple is :' , b)

largest tuple is : banana

In [19]:
# or Question Number 46: 
t=[]
for i in a:
    t.append(len(i))

a[t.index(max(t))]

'banana'

In [50]:
# Question number 47:
a = ('apple','mango','purple','red')
l = [len(i) for i in a]
a[l.index(min(l))]

'red'

In [7]:
# Question number 48:
def triangular_num(n):
    tri_num = []
    total = 0
    for i in range(1,n+1):
        total+=i
        tri_num.append(total)
    return tri_num

print(triangular_num(5))

[1, 3, 6, 10, 15]

In [6]:
# Question Number 49:
t1 = (1,2,3,4,5,6)
t2 = (3,5)
if all(t2) in t1:
    print(True)
else:
    print(False)

True

### Set Based Practice Problem

In [1]:
# Question Number 1:
my_set = {1,2,3,6,7,6}
print(my_set)

{1, 2, 3, 6, 7}

In [10]:
# Question Number 2:
a = {1,2,3,4,5}
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [11]:
# Question Number 3:
a = {1,2,3,4,5}
a.remove(4)
a

{1, 2, 3, 5}

In [13]:
# Question Number 4:
a = {1,2,3,4,5}
if 3 in a:
    print('yes , this set exist 3')
else:
    print('no , this set not exist 3')

yes , this set exist 3

In [21]:
# Question Number 5 :
a = {1,2,3,4,5,6,7}
length = 0
for i in a:
    length+=1

print('length of the set is :',length)

length of the set is : 7

In [25]:
# Question Number 6:
a= {1,2,3,4,5}
a.clear()
print(a)

set()

In [29]:
# Question Number 7:
e = {i for i in range(1,11) if i%2==0}
print(e)

{2, 4, 6, 8, 10}

In [2]:
# Question Number 8:
a = {i for i in range(1,11) if i%2!=0}
print(a)

{1, 3, 5, 7, 9}

In [4]:
# Question Number 9:
a = {1,2,3,4}
b = {5,6,7,8}
union_set = a.union(b)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
# Question Number 10:
a = {1,2,3,4}
b = {3,4,5,6}
intersection = a.intersection(b)
print(intersection)

{3, 4}

In [6]:
# Question Number 11:
a = {1,2,3,4,5}
b = {1,2,6,7,8}
difference_set = a.difference(b)
print(difference_set)

{3, 4, 5}

In [8]:
# Question Number 12:
a = {1,2}
b = {1,2,8,9}
subset_of_sets = a.issubset(b)
print(subset_of_sets)

True

In [9]:
# Question Number 13:
a = {1,2,3,4,5}
b = {1,2}
superset_of_sets = a.issuperset(b)
print(superset_of_sets)

True

In [10]:
# Question Number 14:
l = [1,2,3,4,5]
set = set(l)
print(set)

{1, 2, 3, 4, 5}

In [11]:
# Question Number 15:
s = {1,2,3,4,5}
list = list(s)
print(list)

[1, 2, 3, 4, 5]

In [28]:
# Question Number 16 :
e = {1,2,3,4,5,6,7,8,9}
e.remove(random.randint(0,len(e)))
e

{1, 2, 3, 4, 5, 7, 8, 9}

In [20]:
# Question Number 17:
a = {1,2,3,4,5}
pop_the_element = a.pop()
print(f"pop the element:{pop_the_element}")
print(f"updated set:{a}")

pop the element:1
updated set:{2, 3, 4, 5}

In [35]:
# Question Number 18:
a = {1,2,3,4}
b = {5,6,7,8}
for i in b:
    if i in a:
        print(True , "yes common element occur into given sets")
    else:
        print(False , "no common element occur into given sets")

False no common element occur into given sets
False no common element occur into given sets
False no common element occur into given sets
False no common element occur into given sets

In [38]:
# or question Number 18:
a = {1,2,3,4}
b = {5,7,8,9}
common_element = a.isdisjoint(b)
print(common_element)

True

In [41]:
# Question Number 19:
a = {1,2,3,4,5}
b = {3,4,7,8,9}
symmetric_difference = a.symmetric_difference(b)
print(symmetric_difference)

{1, 2, 5, 7, 8, 9}

In [44]:
# Question Number 20:
a = {1,2,3,4}
b = {1,2,5,6,7,8}
update_set = a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
# Question Number 22:
a = {1,2,3,4}
b = {1,2,3,4}
if a==b:
    print('yes,its identical')
else:
    print('no,its not identical')

yes,its identical

In [49]:
# Question Number 23:
a = {1,2,3,4,5}
b = frozenset(a)
print(b)

frozenset({1, 2, 3, 4, 5})

In [51]:
# Question Number 24:
a = {1,2,3,4}
b = {9,5,6,7}
disjoint = a.isdisjoint(b)
if disjoint==True:
    print('yes , this set is disjoint')
else:
    print('no , this set is not disjoint')

yes , this set is disjoint

In [52]:
# Question Number 25:
a = {i**2 for i in range(1,6)}
print(a)

{1, 4, 9, 16, 25}

In [53]:
# Question Number 26:
a = {1,2,3,4,5,6,7,8,9}
even_no = {i for i in a if i%2==0}
print(even_no)

{8, 2, 4, 6}

In [54]:
# Question Number 27:
a = {1,2,3,4,5}
multiply_by_2 = {i*2 for i in a}
print(multiply_by_2)

{2, 4, 6, 8, 10}

In [60]:
# Question Number 28:
import random
r = {random.randint(1,51) for i in range(5)}
print(r)

{36, 38, 50, 26, 31}

In [55]:
# Question Number 29:
a = {}
if len(a)==0:
    print('given set is empty')
else:
    print('given set is not empty')

given set is empty

In [59]:
# Question Number 31:
a = {1,2,3,4,5}
a.discard(2)
a

{1, 3, 4, 5}

In [60]:
# Question Number 32:
a = {1,2,3,4,5}
b = {1,2,3,4,5}
if a==b:
    print('yes , given sets are equal')
else:
    print('no , given sets are not equal')

yes , given sets are equal

In [1]:
# Question Number 33:
a = "hello"
b = set(a)
print(b)

{'h', 'l', 'o', 'e'}

In [2]:
# Question Number 34:
a = {'1','2','3','4'}
int = {int(i) for i in a}
print(int)

{1, 2, 3, 4}

In [66]:
# Question Number 35:
a = {1,2,3,4,5}
string = {str(i) for i in a}
print(string)

{'2', '4', '3', '5', '1'}

In [3]:
# Question Number 36:
t =  (1,2,3,4,5)
s = set(t)
print(s)

{1, 2, 3, 4, 5}

In [17]:
# Question Numbr 37:
s = {1,2,3,4,5}
t = tuple(s)
print(t)

(1, 2, 3, 4, 5)

In [6]:
# Question Number 38:
a = {1,2,5,6,3,4,78}
b = max(a)
print(b)

78

In [24]:
# Question Number 39:
a = {1,2,3,4,5,6,7}
b = min(a)
print(b)

1

In [3]:
# Question Number 40:
a = input('enter the elements of set by space seprated')
l = a.split( )
set = set(l)
print(set)

enter the elements of set by space seprated 1 2 3 4 5

{'2', '4', '1', '5', '3'}

In [111]:
# Question Number 41:
a = {1,2,3}
b = {4,5,6}
intersection = a.intersection(b)
if intersection=={}:
    print(True)
else:
    print(False)

False

In [2]:
# Question Number 43:
l = [1,2,3,4,2,3,5]
s = list(set(l))
print('unique list is:',s)

unique list is: [1, 2, 3, 4, 5]

In [79]:
# Question Number 44:
a = {1,2,3,4}
b = {1,2,3,4}
if a==b:
    print('Yes , sets have the same element')
else:
    print('No , sets have not same element')

Yes , sets have the same element

In [88]:
# Question Number 45:
a = {2**n for n in range(1,11)}
print(a)

{32, 64, 2, 128, 4, 256, 512, 1024, 8, 16}

In [1]:
# Question Number 46:
a = {1,2,3,4,5}
b = [1,2,7,8,9]
common_element = a.intersection(set(b))
print(common_element)

{1, 2}

In [90]:
# Question Number 48:
a = {1,2,3,4,5,6,7,8,9,0}
b = {5,6}
if b.issubset(a):
    print(True)
else:
    print(False)

True

In [100]:
# Question Number 49:
alternating_set = {1 if i%2==0 else 0 for i in range(100)}
print(alternating_set)

{0, 1}

In [5]:
# Question Number 50:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
merge_sets = a.union(b,c)
print(merge_sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}